data/schema/aurora.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.16">

  <xs:element name="scenario">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="network" />
        <xs:element ref="settings" />
        <xs:element ref="InitialDensityProfile" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SplitRatioProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="CapacityProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="EventSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DemandProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ControllerSet" minOccurs="0" maxOccurs="1" />
      </xs:all>
      <xs:attribute name="id" type="xs:string" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="schemaVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="network">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="position" minOccurs="0" />
        <xs:element ref="MonitorList" minOccurs="0" />
        <xs:element ref="NetworkList" minOccurs="0" />
        <xs:element ref="NodeList" minOccurs="0" />
        <xs:element ref="LinkList" minOccurs="0" />
        <xs:element ref="SignalList" minOccurs="0" />
        <xs:element ref="ODList" minOccurs="0" />
        <xs:element ref="SensorList" minOccurs="0" />
        <xs:element ref="DirectionsCache" minOccurs="0" />
        <xs:element ref="IntersectionCache" minOccurs="0" />
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="ml_control" type="xs:boolean" use="required" />
      <xs:attribute name="q_control" type="xs:boolean" use="required" />
      <xs:attribute name="dt" type="xs:decimal" use="required" />
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="settings">
    <xs:complexType>
      <xs:all>
        <xs:element ref="display" minOccurs="0" />
        <xs:element ref="VehicleTypes" minOccurs="0" />
        <xs:element ref="units" minOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="units">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="US|Metric" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="DemandProfileSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="demand" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" default="" />
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="InitialDensityProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="density" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" default="" />
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="SplitRatioProfileSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="splitratios" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" default="" />
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="CapacityProfileSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="capacity" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" default="" />
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="EventSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="event" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" default="" />
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="ControllerSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="controller" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" default="" />
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="description" type="xs:string" />

  <xs:element name="postmile" type="xs:decimal" />

  <xs:element name="MonitorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="monitor" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NetworkList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="network" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="node" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="LinkList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SignalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="signal" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ODList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="od" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SensorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sensor" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sensor">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="position" minOccurs="0" />
        <xs:element ref="display_position" minOccurs="0" />
        <xs:element ref="links" minOccurs="0" />
        <xs:element ref="parameters" minOccurs="0" />
        <xs:element ref="data_sources" minOccurs="0" />
      </xs:all>
      
      <xs:attribute name="id" type="xs:string" use="required" />

      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="loop|radar|camera|sensys"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="link_type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="ML|HV|OR|FR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="data_sources">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="source" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="source">
    <xs:complexType>
      <xs:attribute name="url" type="xs:string" use="required" />
      <xs:attribute name="dt" type="xs:decimal" use="required" />
      <xs:attribute name="format" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="monitor">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:sequence>
          <xs:element ref="monitored" minOccurs="0" />
          <xs:element ref="controlled" minOccurs="0" />
          <xs:element ref="controller" minOccurs="0" />
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="LinkPairs" />
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="name" type="xs:string" use="optional" default="" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="C|E|Z"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="monitored">
    <xs:complexType>
      <xs:all>
        <xs:element ref="links" minOccurs="0" />
        <xs:element ref="nodes" minOccurs="0" />
        <xs:element ref="monitors" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="controlled">
    <xs:complexType>
      <xs:all>
        <xs:element ref="links" minOccurs="0" />
        <xs:element ref="nodes" minOccurs="0" />
        <xs:element ref="monitors" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="links">
    <xs:complexType mixed="true">
      <xs:attribute name="delims"
       type="xs:string" use="optional" default="," />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="link" />
    </xs:complexType>
  </xs:element>

  <xs:element name="nodes">
    <xs:complexType mixed="true">
      <xs:attribute name="delims"
       type="xs:string" use="optional" default="," />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="node" />
    </xs:complexType>
  </xs:element>

  <xs:element name="monitors">
    <xs:complexType mixed="true">
      <xs:attribute name="delims"
       type="xs:string" use="optional" default="," />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="monitor" />
    </xs:complexType>
  </xs:element>

  <xs:element name="LinkPairs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pair" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pair">
    <xs:complexType>
      <xs:attribute name="outlink" type="xs:string" use="required" />
      <xs:attribute name="inlink" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="node">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="postmile" minOccurs="0" />
        <xs:element ref="outputs" />
        <xs:element ref="inputs" />
        <xs:element ref="position" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="F|H|S|P|O|T"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="lock" type="xs:boolean" use="optional"
        default="false" />
    </xs:complexType>
  </xs:element>

  <xs:element name="link">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="begin" minOccurs="1" maxOccurs="1" />
        <xs:element ref="end" minOccurs="1" maxOccurs="1" />
        <xs:element ref="fd" />
        <xs:element ref="dynamics" />
        <xs:element ref="qmax" minOccurs="0" />
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="road_name" type="xs:string" use="optional" />
      <xs:attribute name="lanes" type="xs:decimal" use="required" />
      <xs:attribute name="lane_offset" type="xs:decimal" use="optional"
        default="0" />
      <xs:attribute name="length" type="xs:decimal" use="required" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="FW|HW|HOV|HOT|HV|ETC|OR|FR|IC|ST|LT|RT|D"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="record" type="xs:boolean" use="optional"
        default="false" />
    </xs:complexType>
  </xs:element>

  <xs:element name="signal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="phase" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="phase">
    <xs:complexType>
      <xs:all>
        <xs:element ref="links" minOccurs="0" />
      </xs:all>
      <xs:attribute name="nema" type="xs:integer" use="required" />
      <xs:attribute name="protected" type="xs:boolean" use="required" />
      <xs:attribute name="permissive" type="xs:boolean" use="required" />
      <xs:attribute name="yellow_time" type="xs:decimal" use="required" />
      <xs:attribute name="red_clear_time" type="xs:decimal" use="required" />
      <xs:attribute name="min_green_time" type="xs:decimal" use="required" />
      <xs:attribute name="lag" type="xs:boolean" use="required" />
      <xs:attribute name="recall" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="od">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PathList" />
      </xs:sequence>
      <xs:attribute name="begin" type="xs:string" use="required" />
      <xs:attribute name="end" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="outputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="output" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="inputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="input" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="position">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="point" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="display_position">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="point" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="begin">
    <xs:complexType>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="end">
    <xs:complexType>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="fd">
    <xs:complexType>
      <xs:attribute name="densityCritical" type="xs:string" use="required" />
      <xs:attribute name="flowMax" type="xs:string" use="required" />
      <xs:attribute name="densityJam" type="xs:string" use="required" />
      <xs:attribute name="capacityDrop" use="optional" default="0.0">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="density">
    <xs:complexType mixed="true">
      <xs:attribute name="link_id" type="xs:string" use="required" />
      <xs:attribute name="delims"
       type="xs:string" use="optional" default=":" />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="xs:decimal" />
    </xs:complexType>
  </xs:element>

  <xs:element name="dynamics">
    <xs:complexType>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="CTM"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="demand">
    <xs:complexType mixed="true">
      <xs:attribute name="knob" type="xs:decimal" use="required" />
      <xs:attribute name="start_time" type="xs:decimal" use="optional"
       default="0" />
      <xs:attribute name="dt" type="xs:decimal" use="required" />
      <xs:attribute name="link_id" type="xs:string" use="required" />
      <xs:attribute name="delims"
       type="xs:string" use="optional" default=",:" />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="qmax" type="xs:decimal" />

  <xs:element name="PathList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="path" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="output">
    <xs:complexType>
      <xs:attribute name="link_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="input">
    <xs:complexType>
      <xs:all>
        <xs:element ref="weavingfactors" minOccurs="0" maxOccurs="1" />
      </xs:all>
      <xs:attribute name="link_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="path">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="delims"
       type="xs:string" use="optional" default="," />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="link" />
    </xs:complexType>
  </xs:element>

  <xs:element name="display">
    <xs:complexType>
      <xs:attribute name="timeMax" type="xs:decimal" use="required" />
      <xs:attribute name="timeout" type="xs:integer" use="optional" default="50" />
      <xs:attribute name="dt" type="xs:decimal" use="required" />
      <xs:attribute name="timeInitial" type="xs:decimal" use="optional"
        default="0.0" />
    </xs:complexType>
  </xs:element>

  <xs:element name="VehicleTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vtype" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vtype">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="weight" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="event">
    <xs:complexType>
      <xs:all>
        <xs:element ref="demand" minOccurs="0" />
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="fd" minOccurs="0" />
        <xs:element ref="srm" minOccurs="0" />
        <xs:element ref="qmax" minOccurs="0" />
        <xs:element ref="lkid" minOccurs="0" />
        <xs:element ref="controller" minOccurs="0" />
        <xs:element ref="wfm" minOccurs="0" />
        <xs:element ref="control" minOccurs="0" />
        <xs:element ref="display_position" minOccurs="0" />
      </xs:all>
      <xs:attribute name="tstamp" type="xs:decimal" use="required" />
      <xs:attribute name="node_id" type="xs:string" use="optional" default="" />
      <xs:attribute name="link_id" type="xs:string" use="optional" default="" />
      <xs:attribute name="network_id" type="xs:string" use="optional" default="" />
      <xs:attribute name="enabled" type="xs:boolean" use="required" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="FD|DEMAND|QLIM|SRM|WFM|SCONTROL|NCONTROL|CCONTROL|TCONTROL|MONITOR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="lkid" type="xs:string" />

  <xs:element name="wfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="weavingfactors" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="control">
    <xs:complexType>
      <xs:attribute name="mainline" type="xs:boolean" use="required" />
      <xs:attribute name="queue" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="point">
    <xs:complexType>
      <xs:attribute name="lat" type="xs:decimal" use="required" />
      <xs:attribute name="lng" type="xs:decimal" use="required" />
      <xs:attribute name="elevation" type="xs:decimal" use="optional"
       default="0" />
    </xs:complexType>
  </xs:element>

  <xs:element name="splitratios">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="srm" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="node_id" type="xs:string" use="required" />
      <xs:attribute name="start_time" type="xs:decimal" use="optional"
       default="0" />
      <xs:attribute name="dt" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="controller">
    <xs:complexType>
      <xs:all>
        <xs:element ref="components" minOccurs="0" />
        <xs:element ref="zones" minOccurs="0" />
        <xs:element ref="onramps" minOccurs="0" />
        <xs:element ref="parameters" minOccurs="0" />
        <xs:element ref="limits" minOccurs="0" />
        <xs:element ref="qcontroller" minOccurs="0" />
        <xs:element ref="table" minOccurs="0" />
        <xs:element ref="display_position" minOccurs="0" />
        <xs:element ref="PlanSequence" minOccurs="0" />
        <xs:element ref="PlanList" minOccurs="0" />
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="ALINEA|TOD|TR|VSLTOD|SIMPLESIGNAL|PRETIMED|ACTUADED|SYNCHRONIZED|SWARM|HERO|SLAVE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dt" type="xs:decimal" use="required" />
      <xs:attribute name="usesensors" type="xs:boolean" use="optional" default="false" />
      <xs:attribute name="node_id" type="xs:string" use="optional" default="" />
      <xs:attribute name="link_id" type="xs:string" use="optional" default="" />
      <xs:attribute name="network_id" type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PlanSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plan_reference" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="transition_delay" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="plan_reference">
    <xs:complexType>
      <xs:attribute name="plan_id" type="xs:string" use="required" />
      <xs:attribute name="start_time" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PlanList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="plan" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="intersection" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="cyclelength" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="intersection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stage" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="node_id" type="xs:string" use="required" />
      <xs:attribute name="offset" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="stage">
    <xs:complexType>
      <xs:attribute name="greentime" type="xs:decimal" use="required" />
      <xs:attribute name="movA" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="1|2|3|4|5|6|7|8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="movB" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="1|2|3|4|5|6|7|8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="table">
    <xs:complexType mixed="true">
      <xs:attribute name="delims"
       type="xs:string" use="optional" default=";,:" />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="components">
    <xs:complexType>
      <xs:attribute name="swarm1" type="xs:boolean" use="required" />
      <xs:attribute name="swarm2a" type="xs:boolean" use="required" />
      <xs:attribute name="swarm2b" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="zones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="zone" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="zone">
    <xs:complexType>
      <xs:attribute name="bottlenecklink" type="xs:string" use="required" />
      <xs:attribute name="onramplinks" type="xs:string" use="required" />
      <xs:attribute name="sat_den_multiplier" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="onramps">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="onramp" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="onramp">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="gain_Alinea" type="xs:decimal" use="required" />
      <xs:attribute name="gain_Hero" type="xs:decimal" use="required" />
      <xs:attribute name="activation_threshold" type="xs:decimal" use="required" />
      <xs:attribute name="deactivation_threshold" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="weavingfactors">
    <xs:complexType mixed="true">
      <xs:attribute name="delims"
       type="xs:string" use="optional" default="," />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="xs:decimal" />
    </xs:complexType>
  </xs:element>

  <xs:element name="parameter">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="limits">
    <xs:complexType>
      <xs:attribute name="cmin" type="xs:decimal" use="required" />
      <xs:attribute name="cmax" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="qcontroller">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameters" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="QUEUEOVERRIDE|PROPORTIONAL|PI"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="srm">
    <xs:complexType mixed="true">
      <xs:attribute name="delims"
       type="xs:string" use="optional" default=";,:" />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="xs:decimal" />
    </xs:complexType>
  </xs:element>

  <xs:element name="capacity">
    <xs:complexType mixed="true">
      <xs:attribute name="link_id" type="xs:string" use="required" />
      <xs:attribute name="start_time" type="xs:decimal" use="optional"
       default="0" />
      <xs:attribute name="dt" type="xs:decimal" use="required" />
      <xs:attribute name="delims"
       type="xs:string" use="optional" default="," />
      <xs:attribute name="cellType"
       type="xs:string" use="optional" default="xs:decimal" />
    </xs:complexType>
  </xs:element>

  <xs:element name="DirectionsCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DirectionsCacheEntry" minOccurs="0"
         maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="IntersectionCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="IntersectionCacheEntry" minOccurs="0"
         maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DirectionsCacheEntry">
    <xs:complexType>
      <xs:all>
        <xs:element ref="From" />
        <xs:element ref="To" />
        <xs:element ref="EncodedPolyline" />
      </xs:all>
      <xs:attribute name="avoidHighways" type="xs:boolean" use="required" />
      <xs:attribute name="road_name" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="IntersectionCacheEntry">
    <xs:complexType>
      <xs:attribute name="qlat" type="xs:decimal" use="required" />
      <xs:attribute name="qlng" type="xs:decimal" use="required" />
      <xs:attribute name="lat" type="xs:decimal" use="required" />
      <xs:attribute name="lng" type="xs:decimal" use="required" />
      <xs:attribute name="street1" type="xs:string" use="required" />
      <xs:attribute name="street2" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="From">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ALatLng" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="To">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ALatLng" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ALatLng">
    <xs:complexType>
      <xs:attribute name="lat" type="xs:decimal" use="required" />
      <xs:attribute name="lng" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="EncodedPolyline">
    <xs:complexType>
      <xs:all>
        <xs:element ref="Points" />
        <xs:element ref="Levels" />
      </xs:all>
      <xs:attribute name="zoomFactor" type="xs:decimal" use="required" />
      <xs:attribute name="numLevels" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Points" type="xs:string" />
  <xs:element name="Levels" type="xs:string" />

</xs:schema>
