data/schema/sirius.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.0.2">

  <!-- generic ................................................................... -->
  
  <xs:element name="position">	<!-- used by network, node, sensor -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="point" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	  <xs:element name="point">
		<xs:complexType>
		  <xs:attribute name="lat" type="xs:decimal" use="required" />
		  <xs:attribute name="lng" type="xs:decimal" use="required" />
		  <xs:attribute name="elevation" type="xs:decimal" use="optional"
		   default="0" />
		</xs:complexType>
	  </xs:element>
	  
  <xs:element name="description" type="xs:string" />  <!-- used by scenario, network, node, link, sensor, event, and all profiles and sets. -->
  
  <xs:element name="begin"> 												<!-- used by link, od -->
    <xs:complexType>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="end"> 													<!-- used by link, od -->
    <xs:complexType>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="display_position">										<!-- used by sensor, event, controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="point" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="parameters">											<!-- used by sensor, controller, queue_controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  
	<xs:element name="parameter">
		<xs:complexType>
		  <xs:attribute name="name" type="xs:string" use="required" />
		  <xs:attribute name="value" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

  <xs:element name="table">
	<xs:complexType mixed="true">
		<xs:sequence>
			<xs:element ref="column_names" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="row" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>
  </xs:element>

	<xs:element name="column_names">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="column_name" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

		<xs:element name="column_name">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:element>

	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="column" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

		<xs:element name="column">
			<xs:simpleType>
				  <xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:element>

  
  <xs:element name="targetElements">										<!-- used by event, controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scenarioElement" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="feedbackElements">										<!-- used by controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scenarioElement" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	  <xs:element name="scenarioElement"> 
		<xs:complexType>
		  <xs:attribute name="type" use="required">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
				<xs:pattern value="link|node|controller|sensor|event|signal"/>
			  </xs:restriction>
			</xs:simpleType>
		  </xs:attribute>
		  <xs:attribute name="id" type="xs:string" use="required" />
		  <xs:attribute name="usage" type="xs:string" use="optional" />
		</xs:complexType>
	  </xs:element>
	  
   <xs:element name="link_references">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="link_reference" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	  <xs:element name="link_reference"> 
		<xs:complexType>
		  <xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	  </xs:element>
	  
  <xs:element name="VehicleTypeOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vehicle_type" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
	  
  <!-- scenario .................................................................. -->
  
  <xs:element name="scenario">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" maxOccurs="1" />
        <xs:element ref="settings" minOccurs="0"  maxOccurs="1" />
        <xs:element ref="NetworkList" minOccurs="0" maxOccurs="1" />
	<xs:element ref="SignalList" minOccurs="0" maxOccurs="1"  />
	<xs:element ref="SensorList" minOccurs="0" maxOccurs="1"  />
        <xs:element ref="InitialDensitySet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="WeavingFactorSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SplitRatioProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DownstreamBoundaryCapacityProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="EventSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DemandProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ControllerSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="FundamentalDiagramProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="NetworkConnections" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DestinationNetworks" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Routes" minOccurs="0" />
      </xs:all>
      <xs:attribute name="id" type="xs:string" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="schemaVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- settings .................................................................. -->
  
	  <xs:element name="settings">
		<xs:complexType>
		  <xs:all>
			<xs:element ref="VehicleTypes" minOccurs="1" />
			<xs:element ref="units" minOccurs="1" />
		  </xs:all>
		</xs:complexType>
	  </xs:element>
		
		  <xs:element name="VehicleTypes">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="vehicle_type" minOccurs="1" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>

			  <xs:element name="vehicle_type">
				<xs:complexType>
				  <xs:attribute name="name" type="xs:string" use="required" />
				  <xs:attribute name="weight" type="xs:decimal" use="optional" />		<!-- default is 1, not used if part if VehicleTypeOrder -->
				</xs:complexType>
			  </xs:element>
		  
		  <xs:element name="units">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
				<xs:pattern value="US|Metric" />
			  </xs:restriction>
			</xs:simpleType>
		  </xs:element>
		
  <!-- NetworkList ............................................................... -->

	  <xs:element name="NetworkList">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="network" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
  <!-- network ................................................................... -->
	  
		  <xs:element name="network">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="description" minOccurs="0" />
				<xs:element ref="position" minOccurs="0" />
				<xs:element ref="NodeList" minOccurs="0" />
				<xs:element ref="LinkList" minOccurs="0" />
				<xs:element ref="IntersectionCache" minOccurs="0" />
			  </xs:all>
			  <xs:attribute name="name" type="xs:string" use="required" />
			  <xs:attribute name="dt" type="xs:decimal" use="required" />			<!-- in seconds -->
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="locked" type="xs:boolean" use="optional" default="false" />
			</xs:complexType>
		  </xs:element>
		  
  <!-- NodeList .................................................................. -->
  
		  <xs:element name="NodeList">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="node" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="node">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="roadway_markers" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="outputs" />
					<xs:element ref="inputs" />
					<xs:element ref="position" minOccurs="0" />
				  </xs:all>
				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="simple|onramp|offramp|signalized_intersection|unsignalized_intersection|terminal|highway|stop_intersection|other"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				  <xs:attribute name="id" type="xs:string" use="required" />
				  <xs:attribute name="in_synch" type="xs:boolean" use="optional" default="true" />
				</xs:complexType>
			  </xs:element>
			  
				  <xs:element name="roadway_markers">
				  	<xs:complexType>
					  <xs:sequence>
						<xs:element ref="marker" minOccurs="1" maxOccurs="unbounded" />
					  </xs:sequence>
					</xs:complexType>
			  	  </xs:element>

				  <xs:element name="marker">
				  	<xs:complexType>
				  		<xs:attribute name="name" type="xs:string" use="required" />
				  		<xs:attribute name="postmile" type="xs:string" use="optional" />
					</xs:complexType>
			  	  </xs:element>

				  <xs:element name="outputs">
					<xs:complexType>
					  <xs:sequence>
						<xs:element ref="output" minOccurs="0" maxOccurs="unbounded" />
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>

				  <xs:element name="output">
					<xs:complexType>
					  <xs:attribute name="link_id" type="xs:string" use="required" />
					</xs:complexType>
				  </xs:element>

				  <xs:element name="inputs">
					<xs:complexType>
					  <xs:sequence>
						<xs:element ref="input" minOccurs="0" maxOccurs="unbounded" />
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  
				  <xs:element name="input">
					<xs:complexType>
					  <xs:attribute name="link_id" type="xs:string" use="required" />
					</xs:complexType>
				  </xs:element>		  
		  
  <!-- LinkList .................................................................. -->

		  <xs:element name="LinkList">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="link">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="begin" minOccurs="0" maxOccurs="1" />
					<xs:element ref="end" minOccurs="0" maxOccurs="1" />
					<xs:element ref="roads" minOccurs="0" maxOccurs="1" />
					<xs:element ref="dynamics" minOccurs="0" maxOccurs="1" />
					<xs:element ref="shape" minOccurs="0" />
				  </xs:all>
				  <xs:attribute name="lanes" type="xs:decimal" use="required" />
				  <xs:attribute name="lane_offset" type="xs:decimal" use="optional" default="0" />
				  <xs:attribute name="length" type="xs:decimal" use="required" />
				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="freeway|HOV|HOT|onramp|offramp|freeway_connector|street|intersection_approach|heavy_vehicle|electric_toll"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				  <xs:attribute name="id" type="xs:string" use="required" />
				  <xs:attribute name="in_synch" type="xs:boolean" use="optional" default="true" />
				</xs:complexType>
			  </xs:element>

				  <xs:element name="roads">
				  	<xs:complexType>
					  <xs:sequence>
						<xs:element ref="road" minOccurs="1" maxOccurs="unbounded" />
					  </xs:sequence>
					</xs:complexType>
			  	  </xs:element>

				  <xs:element name="road">
				  	<xs:complexType>
				  		<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
			  	  </xs:element>

				  <xs:element name="dynamics">
					<xs:complexType>
					  <xs:attribute name="type" use="required">
						<xs:simpleType>
						  <xs:restriction base="xs:string">
							<xs:pattern value="CTM|region_tracking|discrete_departure"/>
						  </xs:restriction>
						</xs:simpleType>
					  </xs:attribute>
					</xs:complexType>
				  </xs:element>

	<xs:element name="shape" type="xs:string"/>

  <!-- IntersectionCache ......................................................... -->

		  <xs:element name="IntersectionCache">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="IntersectionCacheEntry" minOccurs="0"
				 maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>

			  <xs:element name="IntersectionCacheEntry">
				<xs:complexType>
				  <xs:attribute name="qlat" type="xs:decimal" use="required" />
				  <xs:attribute name="qlng" type="xs:decimal" use="required" />
				  <xs:attribute name="lat" type="xs:decimal" use="required" />
				  <xs:attribute name="lng" type="xs:decimal" use="required" />
				  <xs:attribute name="street1" type="xs:string" use="required" />
				  <xs:attribute name="street2" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>					  
			  
  <!-- SignalList ................................................................ -->

	  <xs:element name="SignalList">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="signal" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="signal">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="phase" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="node_id" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="phase">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="link_references" minOccurs="0" />
				  </xs:all>
				  <xs:attribute name="nema" type="xs:integer" use="required" />
				  <xs:attribute name="protected" type="xs:boolean" use="required" />
				  <xs:attribute name="permissive" type="xs:boolean" use="required" />
				  <xs:attribute name="yellow_time" type="xs:decimal" use="required" />			<!-- in seconds -->
				  <xs:attribute name="red_clear_time" type="xs:decimal" use="required" />		<!-- in seconds -->
				  <xs:attribute name="min_green_time" type="xs:decimal" use="required" />		<!-- in seconds -->
				  <xs:attribute name="lag" type="xs:boolean" use="required" />
				  <xs:attribute name="recall" type="xs:boolean" use="required" />
				</xs:complexType>
			  </xs:element>
  
  <!-- SensorList ................................................................
  
  valid sensor parameters:
	name=link_type, value in {freeway,HOV,onramp,offramp,other}
  
  valid sensor tables:
	name=data_sources
		 column names = url (String)
						dt (decimal seconds)
						format (value in {PeMS&#x20;Data&#x20;Clearinghouse|Caltrans&#x20;DBX|BHL})
  -->
			  
	  <xs:element name="SensorList">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="sensor" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="sensor">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="description" minOccurs="0" />
				<xs:element ref="position" minOccurs="0" />
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="link_reference" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="table" minOccurs="0" />
			  </xs:all>
			  
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="link_position" type="xs:decimal" use="optional" />

			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="static_point|static_area|moving_point"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			</xs:complexType>
		</xs:element>

  <!-- InitialDensitySet ..................................................... -->

	  <xs:element name="InitialDensitySet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="density" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		  <xs:attribute name="tstamp" type="xs:decimal" use="optional" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="density">													<!-- content in veh/meter -->
			<xs:complexType mixed="true">
			  <xs:attribute name="link_id" type="xs:string" use="required" />
			  <xs:attribute name="link_id_destination" type="xs:string" use="optional" />
			</xs:complexType>
		  </xs:element>

  <!-- WeavingFactorSet ..................................................... -->
	
	  <xs:element name="WeavingFactorSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="weavingfactors" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="weavingfactors">
			<xs:complexType mixed="true">
			  <xs:attribute name="link_in" type="xs:string" use="required" />
			  <xs:attribute name="link_out" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>

  <!-- SplitRatioProfileSet ...................................................... -->

	  <xs:element name="SplitRatioProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="splitratioProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="splitratioProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="splitratio" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="node_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>		  

			  <xs:element name="splitratio">
				<xs:complexType mixed="true">
				  <xs:attribute name="destination_network_id" type="xs:string" use="optional" />
				  <xs:attribute name="link_in" type="xs:string" use="required" />
				  <xs:attribute name="link_out" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>  
  
  <!-- DownstreamBoundaryCapacityProfileSet ............................................. -->  
  
	  <xs:element name="DownstreamBoundaryCapacityProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="capacityProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="capacityProfile">
			<xs:complexType mixed="true">
			  <xs:attribute name="link_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>

  <!-- EventSet ..................................................................
    
  valid event parameters:
    type=fundamental_diagram
	   name=capacity, value=decimal
	   name=capacity_drop, value=decimal
	   name=congestion_speed, value=decimal
	   name=jam_density, value=decimal
	   name=free_flow_speed, value=decimal
    type=link_demand_knob
	   name=reset_to_nominal, value in {true,false} (optional, default is false)
	   name=knob, value=decimal
    type=link_lanes
	   name=lane_count_change, value=decimal
	   name=reset_to_nominal, value in {true,false} (optional, default is false)
    type=control_toggle
	   name=on_off_switch, value in {on,off}
    type=global_control_toggle
	   name=on_off_switch, value in {on,off}
    type=global_demand_knob
	   name=reset_to_nominal, value in {true,false} (optional, default is false)
	   name=knob, value=decimal

  -->
  
	  <xs:element name="EventSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="event" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="event">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="description" minOccurs="0" />
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="targetElements" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="splitratioEvent" minOccurs="0" />			<!-- node split ratio -->
			  </xs:all>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="tstamp" type="xs:decimal" use="required" />		<!-- in seconds -->
			  <xs:attribute name="enabled" type="xs:boolean" use="required" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="fundamental_diagram|link_demand_knob|link_lanes|node_split_ratio|control_toggle|global_control_toggle|global_demand_knob"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			</xs:complexType>
		  </xs:element>			 

			  <xs:element name="splitratioEvent">		<!-- split ratio matrix for one time instant, one input link, one vehicle type -->
			    <xs:complexType mixed="true">
				  <xs:sequence>
					<xs:element ref="vehicle_type" minOccurs="1" maxOccurs="1" />
					<xs:element ref="splitratio" minOccurs="1" maxOccurs="1" />
				  </xs:sequence>
			    </xs:complexType>
			  </xs:element>	 

  <!-- DemandProfileSet .......................................................... -->
  
	  <xs:element name="DemandProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="demandProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
			  
		  <xs:element name="demandProfile">									<!-- content in [veh/s/vehicle type] -->
			<xs:complexType mixed="true">
			  <xs:attribute name="knob" type="xs:decimal" use="optional"  default="1"/>
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			  <xs:attribute name="link_id_origin" type="xs:string" use="required" />
			  <xs:attribute name="destination_network_id" type="xs:string" use="optional" />
			  <xs:attribute name="std_dev_add" type="xs:decimal" use="optional"/>					<!-- [veh/s/vehicle type] -->
			  <xs:attribute name="std_dev_mult" type="xs:decimal" use="optional"/>					<!-- [portion/vehicle type] -->
			</xs:complexType>
		  </xs:element>

  <!-- ControllerSet ............................................................. 
  
  valid controller parameters 
    controller type = IRM_alinea
	   name=gain, value in mile/hour
    controller type = CRM_hero
	   name=gainAlinea, value [???]
	   name=gainQueueController, value [???]
	   name=gainMinQueueController, value [???]
	   name=targetDensity, value [???]
	   name=possibleSlave, value [???]
	   name=queueMax, value [???]
	   name=actThresholdQ, value [???]
	   name=deactThresholdQ, value [???]
	   name=actThresholdM, value [???]
	   name=deactThresholdM, value [???]
	   name=minFlow, value [???]
	   name=maxFlow, value [???]
  
  valid controller tables 
    controller type = IRM_time_of_day
	   name=schedule
  	      columns = StartTime [sec]
				    MeteringRates [veh/hour]
    controller type = IRM_traffic_responsive
	   name=tod
  	      columns = MeteringRates [veh/hr]
				    OccupancyThresholds [0...100]
					SpeedThresholds [mile/hr]
					FlowThresholds [veh/hr]
    controller type = CRM_hero
	   name=xxx, value in xxx

  -->
		  
  
	  <xs:element name="ControllerSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="controller" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="controller">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="targetElements" minOccurs="1" />
				<xs:element ref="feedbackElements" minOccurs="0" />
				<xs:element ref="queue_controller" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="table" minOccurs="0" />
				<xs:element ref="ActivationIntervals" minOccurs="0" />
				<xs:element ref="PlanSequence" minOccurs="0" />
				<xs:element ref="PlanList" minOccurs="0" />
			  </xs:all>
			  <xs:attribute name="name" type="xs:string" use="optional" />
			  <xs:attribute name="link_position" type="xs:decimal" use="optional" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="IRM_alinea|IRM_time_of_day|IRM_traffic_responsive|CRM_swarm|CRM_hero|VSL_time_of_day|SIG_pretimed|SIG_actuated"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="dt" type="xs:decimal" use="required" />							<!-- in seconds -->
			  <xs:attribute name="enabled" type="xs:boolean" use="required" />
			</xs:complexType>
		  </xs:element>
				
			<xs:element name="queue_controller">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="parameters" minOccurs="0" />
					</xs:sequence>
				  	<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="none|queue_override|proportional|proportional_integral"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>

			<xs:element name="ActivationIntervals">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="interval" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

				<xs:element name="interval">
					<xs:complexType>
						<xs:attribute name="start_time" type="xs:decimal" use="required" />		<!-- in seconds -->
						<xs:attribute name="end_time" type="xs:decimal" use="required" />		<!-- in seconds -->
					</xs:complexType>
				</xs:element>
			  
  <!-- Pretimed signal ........................................................... -->
			  
			  <xs:element name="PlanSequence">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="plan_reference" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				  <xs:attribute name="transition_delay" type="xs:decimal" use="required" />		<!-- in seconds -->
				</xs:complexType>
			  </xs:element>

				  <xs:element name="plan_reference">
					<xs:complexType>
					  <xs:attribute name="plan_id" type="xs:string" use="required" />
					  <xs:attribute name="start_time" type="xs:decimal" use="required" />		<!-- in seconds -->
					</xs:complexType>
				  </xs:element>

			  <xs:element name="PlanList">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="plan" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>

				  <xs:element name="plan">
					<xs:complexType>
					  <xs:sequence>
						<xs:element ref="intersection" minOccurs="0" maxOccurs="unbounded" />
					  </xs:sequence>
					  <xs:attribute name="id" type="xs:string" use="required" />
					  <xs:attribute name="cyclelength" type="xs:decimal" use="required" />		<!-- in seconds -->
					</xs:complexType>
				  </xs:element>
					  
					  <xs:element name="intersection">
						<xs:complexType>
						  <xs:sequence>
							<xs:element ref="stage" minOccurs="0" maxOccurs="unbounded" />
						  </xs:sequence>
						  <xs:attribute name="node_id" type="xs:string" use="required" />
						  <xs:attribute name="offset" type="xs:decimal" use="required" />		<!-- in seconds -->
						</xs:complexType>
					  </xs:element>

						  <xs:element name="stage">
							<xs:complexType>
							  <xs:attribute name="greentime" type="xs:decimal" use="required" />		<!-- in seconds -->
							  <xs:attribute name="movA" use="required">
								<xs:simpleType>
								  <xs:restriction base="xs:string">
									<xs:pattern value="|1|2|3|4|5|6|7|8"/>
								  </xs:restriction>
								</xs:simpleType>
							  </xs:attribute>
							  <xs:attribute name="movB" use="required">
								<xs:simpleType>
								  <xs:restriction base="xs:string">
									<xs:pattern value="|1|2|3|4|5|6|7|8"/>
								  </xs:restriction>
								</xs:simpleType>
							  </xs:attribute>
							</xs:complexType>
						  </xs:element>
						  
  <!-- FundamentalDiagramProfileSet .............................................. -->

	  <xs:element name="FundamentalDiagramProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="fundamentalDiagramProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="fundamentalDiagramProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="fundamentalDiagram" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="link_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>

			  <xs:element name="fundamentalDiagram">
				<xs:complexType>
				  <xs:attribute name="free_flow_speed" type="xs:decimal" use="optional" />					<!-- [m/s] -->
				  <xs:attribute name="critical_speed" type="xs:decimal" use="optional" />					<!-- [m/s] -->
				  <xs:attribute name="congestion_speed" type="xs:decimal" use="optional" />					<!-- [m/s] -->
				  <xs:attribute name="capacity" type="xs:decimal" use="optional" />							<!-- [veh/s/lane]   -->
				  <xs:attribute name="jam_density" type="xs:decimal" use="optional" />						<!-- [veh/m/lane] -->
				  <xs:attribute name="capacity_drop" type="xs:decimal" use="optional" default="0.0"/>		<!-- [veh/s/lane]   -->
				  <xs:attribute name="std_dev_capacity" type="xs:decimal" use="optional"/>					<!-- [veh/s/lane]   -->
				  <xs:attribute name="std_dev_free_flow_speed" type="xs:decimal" use="optional"/>					<!-- [m/s]   -->
				  <xs:attribute name="std_dev_congestion_speed" type="xs:decimal" use="optional"/>					<!-- [m/s]   -->
				</xs:complexType>
			  </xs:element>  

  <!-- NetworkConnections ........................................................ -->

	  <xs:element name="NetworkConnections">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="networkpair" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>  

		  <xs:element name="networkpair">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="linkpair" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="network_a" type="xs:string" use="required" />
			  <xs:attribute name="network_b" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="linkpair">
				<xs:complexType>
				  <xs:attribute name="link_a" type="xs:string" use="required" />
				  <xs:attribute name="link_b" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>  

	 <!-- DestinationNetworks ...................................................  -->

	  <xs:element name="DestinationNetworks">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="destination_network" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>

		  <xs:element name="destination_network">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="link_references" minOccurs="1" maxOccurs="1" />
			  </xs:all>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="link_id_destination" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>
  
	 <!-- Routes ...................................................  -->

	  <xs:element name="Routes">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="route" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>

		  <xs:element name="route">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="link_references" minOccurs="1" maxOccurs="1" />
			  </xs:all>
			  <xs:attribute name="id" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>

</xs:schema>
