data/schema/sirius.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="XXX">

  <!-- generic ................................................................... -->
  
  <xs:element name="position">												<!-- used by network, node, sensor -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="point" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	  <xs:element name="point">
		<xs:complexType>
		  <xs:attribute name="lat" type="xs:decimal" use="required" />
		  <xs:attribute name="lng" type="xs:decimal" use="required" />
		  <xs:attribute name="elevation" type="xs:decimal" use="optional"
		   default="0" />
		</xs:complexType>
	  </xs:element>
	  
  <xs:element name="description" type="xs:string" />						<!-- used by scenario, network, node, link, sensor, event, and all profiles and sets. -->
  
  <xs:element name="begin"> 												<!-- used by link, od -->
    <xs:complexType>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="end"> 													<!-- used by link, od -->
    <xs:complexType>
      <xs:attribute name="node_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="display_position">										<!-- used by sensor, event, controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="point" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="parameters">											<!-- used by sensor, controller, qcontroller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  
	  <xs:element name="parameter">
		<xs:complexType>
		  <xs:attribute name="name" type="xs:string" use="required" />
		  <xs:attribute name="value" type="xs:string" use="required" />
		</xs:complexType>
	  </xs:element>
  
  <xs:element name="targetElements">										<!-- used by event, controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scenarioElement" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="feedbackElements">										<!-- used by event, controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scenarioElement" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	  <xs:element name="scenarioElement"> 
		<xs:complexType>
		  <xs:attribute name="type" use="required">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
				<xs:pattern value="link|node|controller|sensor|event|signal"/>
			  </xs:restriction>
			</xs:simpleType>
		  </xs:attribute>
		  <xs:attribute name="network_id" type="xs:string" use="optional" />	<!-- optional only if used within a network -->
		  <xs:attribute name="id" type="xs:string" use="required" />
		  <xs:attribute name="usage" type="xs:string" use="optional" />
		</xs:complexType>
	  </xs:element>
	  
  <xs:element name="links">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="link_reference" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	  <xs:element name="link_reference"> 
		<xs:complexType>
		  <xs:attribute name="network_id" type="xs:string" use="optional" />	<!-- optional only if used within a network -->
		  <xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	  </xs:element>
	  
  <xs:element name="VehicleTypeOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vehicleType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
	  
  <!-- scenario .................................................................. -->
  
  <xs:element name="scenario">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="settings" />
        <xs:element ref="NetworkList" minOccurs="0" />
        <xs:element ref="InitialDensityProfile" minOccurs="0" maxOccurs="1" />
        <xs:element ref="WeavingFactorsProfile" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SplitRatioProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DownstreamBoundaryCapacitySet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="EventSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DemandProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ControllerSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="FundamentalDiagramProfileSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="NetworkConnections" minOccurs="0" maxOccurs="1" />
		<xs:element ref="ODList" minOccurs="0"  maxOccurs="1" />
		<xs:element ref="PathSegements" minOccurs="0"  maxOccurs="1" />
		<xs:element ref="DecisionPoints" minOccurs="0"  maxOccurs="1" />
		<xs:element ref="ODDemandPofileSet" minOccurs="0"  maxOccurs="1" />
      </xs:all>
      <xs:attribute name="id" type="xs:string" use="optional" />
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="schemaVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- settings .................................................................. -->
  
	  <xs:element name="settings">
		<xs:complexType>
		  <xs:all>
			<xs:element ref="VehicleTypes" minOccurs="0" />
			<xs:element ref="units" minOccurs="1" />
			<!-- <xs:element ref="simulation" minOccurs="1" /> -->
		  </xs:all>
		</xs:complexType>
	  </xs:element>
		
		  <xs:element name="VehicleTypes">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="vehicleType" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>

			  <xs:element name="vehicleType">
				<xs:complexType>
				  <xs:attribute name="name" type="xs:string" use="required" />
				  <xs:attribute name="weight" type="xs:decimal" use="optional" />		<!-- default is 1, not used if part if VehicleTypeOrder -->
				</xs:complexType>
			  </xs:element>
		  
		  <xs:element name="units">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
				<xs:pattern value="US|Metric" />
			  </xs:restriction>
			</xs:simpleType>
		  </xs:element>
		
  <!-- NetworkList ............................................................... -->

	  <xs:element name="NetworkList">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="network" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
  <!-- network ................................................................... -->
	  
		  <xs:element name="network">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="description" minOccurs="0" />
				<xs:element ref="position" minOccurs="0" />
				<xs:element ref="NodeList" minOccurs="0" />
				<xs:element ref="LinkList" minOccurs="0" />
				<xs:element ref="SignalList" minOccurs="0" />
				<xs:element ref="SensorList" minOccurs="0" />
				<xs:element ref="DirectionsCache" minOccurs="0" />
				<xs:element ref="IntersectionCache" minOccurs="0" />
			  </xs:all>
			  <xs:attribute name="name" type="xs:string" use="required" />
			  <xs:attribute name="dt" type="xs:decimal" use="required" />			<!-- in seconds -->
			  <xs:attribute name="id" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>
		  
  <!-- NodeList .................................................................. -->
  
		  <xs:element name="NodeList">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="node" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="node">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="description" minOccurs="0" />
					<xs:element ref="postmile" minOccurs="0" />
					<xs:element ref="outputs" />
					<xs:element ref="inputs" />
					<xs:element ref="position" />
				  </xs:all>
				  <xs:attribute name="name" type="xs:string" use="required" />
				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="simple|onramp|offramp|signalized_intersection|unsignalized_intersection|terminal"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				  <xs:attribute name="id" type="xs:string" use="required" />
				  <xs:attribute name="lock" type="xs:boolean" use="optional" default="false" />
				</xs:complexType>
			  </xs:element>
			  
			  <xs:element name="postmile" type="xs:decimal" />
			  
			  <xs:element name="outputs">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="output" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>

			  <xs:element name="output">
				<xs:complexType>
				  <xs:attribute name="link_id" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>

			  <xs:element name="inputs">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="input" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>
			  
			  <xs:element name="input">
				<xs:complexType>
				  <xs:attribute name="link_id" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>		  
		  
  <!-- LinkList .................................................................. -->

		  <xs:element name="LinkList">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="link">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="description" minOccurs="0" />
					<xs:element ref="begin" minOccurs="0" maxOccurs="1" />
					<xs:element ref="end" minOccurs="0" maxOccurs="1" />
					<xs:element ref="dynamics" />
					<xs:element ref="LinkGeometry" minOccurs="0" />
				  </xs:all>
				  <xs:attribute name="name" type="xs:string" use="optional" />
				  <xs:attribute name="road_name" type="xs:string" use="optional" />
				  <xs:attribute name="lanes" type="xs:decimal" use="required" />
				  <xs:attribute name="lane_offset" type="xs:decimal" use="optional" default="0" />
				  <xs:attribute name="length" type="xs:decimal" use="required" />
				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="freeway|HOV|HOT|onramp|offramp|freeway_connector|street|intersection_apporach"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				  <xs:attribute name="id" type="xs:string" use="required" />
				  <xs:attribute name="record" type="xs:boolean" use="optional"
					default="true" />
				</xs:complexType>
			  </xs:element>

			  <xs:element name="dynamics">
				<xs:complexType>
				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="CTM|region_tracking|discrete_departure"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>

			  <xs:element name="LinkGeometry">
				<xs:complexType>
				  <xs:choice>
					<xs:element ref="EncodedPolyline" />
				  </xs:choice>
				</xs:complexType>
			  </xs:element>

  <!-- SignalList ................................................................ -->

		  <xs:element name="SignalList">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="signal" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="signal">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="phase" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				  <xs:attribute name="id" type="xs:string" use="required" />
				  <xs:attribute name="node_id" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>
			  
				  <xs:element name="phase">
					<xs:complexType>
					  <xs:all>
						<xs:element ref="links" minOccurs="0" />
					  </xs:all>
					  <xs:attribute name="nema" type="xs:integer" use="required" />
					  <xs:attribute name="protected" type="xs:boolean" use="required" />
					  <xs:attribute name="permissive" type="xs:boolean" use="required" />
					  <xs:attribute name="yellow_time" type="xs:decimal" use="required" />			<!-- in seconds -->
					  <xs:attribute name="red_clear_time" type="xs:decimal" use="required" />		<!-- in seconds -->
					  <xs:attribute name="min_green_time" type="xs:decimal" use="required" />		<!-- in seconds -->
					  <xs:attribute name="lag" type="xs:boolean" use="required" />
					  <xs:attribute name="recall" type="xs:boolean" use="required" />
					</xs:complexType>
				  </xs:element>
  
  <!-- SensorList ................................................................ -->
  
		  <xs:element name="SensorList">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="sensor" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="sensor">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="description" minOccurs="0" />
					<xs:element ref="position" minOccurs="0" />
					<xs:element ref="display_position" minOccurs="0" />
					<xs:element ref="link_reference" minOccurs="0" />
					<xs:element ref="parameters" minOccurs="0" />
					<xs:element ref="data_sources" minOccurs="0" />
				  </xs:all>
				  
				  <xs:attribute name="id" type="xs:string" use="required" />
				  <xs:attribute name="link_position" type="xs:decimal" use="optional" />

				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="static_point|static_area|moving_point"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>

				  <xs:attribute name="link_type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="freeway|HOV|onramp|offramp|other"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
			  
			  <xs:element name="data_sources">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="data_source" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>

				  <xs:element name="data_source">
					<xs:complexType>
					  <xs:attribute name="url" type="xs:string" use="required" />
					  <xs:attribute name="dt" type="xs:decimal" use="required" />		<!-- in seconds -->
					  <xs:attribute name="format" use="required">
						<xs:simpleType>
						  <xs:restriction base="xs:string">
							<xs:pattern value="PeMS_Data_Clearinghouse|Caltrans_DBX|BHL"/>
						  </xs:restriction>
						</xs:simpleType>
					  </xs:attribute>
					</xs:complexType>
				  </xs:element>					
								  	
  <!-- DirectionsCache ........................................................... -->

		  <xs:element name="DirectionsCache">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="DirectionsCacheEntry" minOccurs="0"
				 maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
					  
			  <xs:element name="DirectionsCacheEntry">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="From" />
					<xs:element ref="To" />
					<xs:element ref="EncodedPolyline" />
				  </xs:all>
				  <xs:attribute name="avoidHighways" type="xs:boolean" use="required" />
				  <xs:attribute name="road_name" type="xs:string" use="optional" />
				</xs:complexType>
			  </xs:element>
			  
			  <xs:element name="From">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="ALatLng" />
				  </xs:all>
				</xs:complexType>
			  </xs:element>

			  <xs:element name="To">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="ALatLng" />
				  </xs:all>
				</xs:complexType>
			  </xs:element>  
			  
			  <xs:element name="EncodedPolyline">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="Points" />
					<xs:element ref="Levels" />
				  </xs:all>
				  <xs:attribute name="zoomFactor" type="xs:decimal" use="required" />
				  <xs:attribute name="numLevels" type="xs:decimal" use="required" />
				</xs:complexType>
			  </xs:element>  
			  
			  <xs:element name="ALatLng">
				<xs:complexType>
				  <xs:attribute name="lat" type="xs:decimal" use="required" />
				  <xs:attribute name="lng" type="xs:decimal" use="required" />
				</xs:complexType>
			  </xs:element>
			  
			  <xs:element name="Points" type="xs:string" />
			  
			  <xs:element name="Levels" type="xs:string" />			  

  <!-- IntersectionCache ......................................................... -->

		  <xs:element name="IntersectionCache">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="IntersectionCacheEntry" minOccurs="0"
				 maxOccurs="unbounded" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>

			  <xs:element name="IntersectionCacheEntry">
				<xs:complexType>
				  <xs:attribute name="qlat" type="xs:decimal" use="required" />
				  <xs:attribute name="qlng" type="xs:decimal" use="required" />
				  <xs:attribute name="lat" type="xs:decimal" use="required" />
				  <xs:attribute name="lng" type="xs:decimal" use="required" />
				  <xs:attribute name="street1" type="xs:string" use="required" />
				  <xs:attribute name="street2" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>					  

  <!-- InitialDensityProfile ..................................................... -->

	  <xs:element name="InitialDensityProfile">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="density" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		  <xs:attribute name="tstamp" type="xs:decimal" use="optional" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="density">													<!-- content in veh/mile -->
			<xs:complexType mixed="true">
			  <xs:attribute name="network_id" type="xs:string" use="optional" />
			  <xs:attribute name="link_id" type="xs:string" use="required" />
			  <!-- <xs:attribute name="delims" type="xs:string" use="optional" default=":" /> -->
			  <!-- <xs:attribute name="cellType" type="xs:string" use="optional" default="xs:decimal" /> -->
			</xs:complexType>
		  </xs:element>

  <!-- WeavingFactorsProfile ..................................................... 

  NOTES:
	+ there is no point to making weaving factors time-dependent, and this may create to much complexity.
	+ weaving factors need to reference links on the node
	+ what is the computation for weaving factors? 
	+ If it is too complicated, consider putting it back in the network -->
	
	  <xs:element name="WeavingFactorsProfile">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="weavingfactors" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="weavingfactors">
			<xs:complexType mixed="true">
			  <xs:attribute name="network_id" type="xs:string" use="optional" />
			  <xs:attribute name="node_id" type="xs:string" use="required" />
			  <!-- <xs:attribute name="delims" type="xs:string" use="optional" default=":" /> -->
			  <!-- <xs:attribute name="cellType" type="xs:string" use="optional" default="xs:decimal" /> -->
			</xs:complexType>
		  </xs:element>

 
  <!-- SplitRatioProfileSet ...................................................... -->

	  <xs:element name="SplitRatioProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="splitratioProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="splitratioProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="splitratio" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="network_id" type="xs:string" use="optional" />
			  <xs:attribute name="node_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>		  

			  <xs:element name="splitratio">
				<xs:complexType mixed="true">
				  <xs:attribute name="link_in" type="xs:string" use="required" />
				  <xs:attribute name="link_out" type="xs:string" use="required" />
				  <!-- <xs:attribute name="delims" type="xs:string" use="optional" default=",:" /> -->
				  <!-- <xs:attribute name="cellType" type="xs:string" use="optional" default="xs:decimal" /> -->
				</xs:complexType>
			  </xs:element>  
  
  <!-- DownstreamBoundaryCapacitySet ............................................. -->  
  
	  <xs:element name="DownstreamBoundaryCapacitySet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="capacityProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="capacityProfile">
			<xs:complexType mixed="true">
			  <xs:attribute name="network_id" type="xs:string" use="optional" />
			  <xs:attribute name="link_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			  <!-- <xs:attribute name="delims" type="xs:string" use="optional" default="," /> -->
			  <!-- <xs:attribute name="cellType" type="xs:string" use="optional" default="xs:decimal" /> -->
			</xs:complexType>
		  </xs:element>

  <!-- EventSet .................................................................. -->

	  <xs:element name="EventSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="event" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="event">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="description" minOccurs="0" />
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="targetElements" minOccurs="0" />
				<xs:element ref="fundamentalDiagram" minOccurs="0" />		<!-- fundamental diagram -->
				<xs:element ref="lane_count_change" minOccurs="0" />		<!-- link lanes -->
				<xs:element ref="on_off_switch"  minOccurs="0" />			<!-- link control toggle, node control toggle, global control toggle -->
				<xs:element ref="knob"  minOccurs="0" />					<!-- link demand knob, global demand knob -->
				<xs:element ref="splitratioEvent" minOccurs="0" />			<!-- node split ratio -->
			  </xs:all>
			  <xs:attribute name="id" type="xs:string" use="required" />
		      <xs:attribute name="reset_to_nominal" type="xs:boolean" use="optional" default="false" />
			  <xs:attribute name="tstamp" type="xs:decimal" use="required" />		<!-- in seconds -->
			  <xs:attribute name="enabled" type="xs:boolean" use="required" />
			  <xs:attribute name="link_position" type="xs:decimal" use="optional" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="fundamental_diagram|link_demand_knob|link_lanes|node_split_ratio|control_toggle|global_control_toggle|global_demand_knob"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			</xs:complexType>
		  </xs:element>			 

			  <xs:element name="splitratioEvent">		<!-- split ratio matrix for one time instant, one input link, one vehicle type -->
			    <xs:complexType mixed="true">
				  <xs:attribute name="link_in" type="xs:string" use="required" />
				  <xs:attribute name="vehicleTypeName" type="xs:string" use="required" />
			    </xs:complexType>
			  </xs:element>	 
  
			  <xs:element name="on_off_switch">
				<xs:complexType>
				  <xs:attribute name="value" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="on|off"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>

			  <xs:element name="knob">
				<xs:complexType>
				  <xs:attribute name="value" type="xs:decimal" use="required" />				  
				</xs:complexType>
			  </xs:element>

			  <xs:element name="lane_count_change">
				<xs:complexType>
				  <xs:attribute name="delta" type="xs:decimal" use="optional" default="0" />
				</xs:complexType>
			  </xs:element>

  <!-- DemandProfileSet .......................................................... -->
  
	  <xs:element name="DemandProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="demandProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
			  
		  <xs:element name="demandProfile">															<!-- content in [veh/hr/vehicle type] -->
			<xs:complexType mixed="true">
			  <xs:attribute name="knob" type="xs:decimal" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			  <xs:attribute name="network_id_origin" type="xs:string" use="optional" />
			  <xs:attribute name="link_id_origin" type="xs:string" use="required" />
			  <xs:attribute name="std_dev_add" type="xs:decimal" use="optional"/>					<!-- [veh/hr/vehicle type] -->
			  <xs:attribute name="std_dev_mult" type="xs:decimal" use="optional"/>					<!-- [portion/vehicle type] -->
			  <!-- <xs:attribute name="delims" type="xs:string" use="optional" default=",:" /> -->
			  <!-- <xs:attribute name="cellType" type="xs:string" use="optional" default="xs:string" /> -->
			</xs:complexType>
		  </xs:element>

  <!-- ControllerSet ............................................................. -->
  
	  <xs:element name="ControllerSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="controller" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="controller">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="targetElements" minOccurs="1" />
				<xs:element ref="feedbackElements" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="qcontroller" minOccurs="0" />
				<xs:element ref="table" minOccurs="0" />
				<xs:element ref="PlanSequence" minOccurs="0" />
				<xs:element ref="PlanList" minOccurs="0" />
			  </xs:all>
			  <xs:attribute name="name" type="xs:string" use="optional" />
			  <xs:attribute name="link_position" type="xs:decimal" use="optional" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="IRM_alinea|IRM_time_of_day|IRM_traffic_responsive|CRM_swarm|CRM_hero|VSL_time_of_day|SIG_pretimed|SIG_actuated"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="dt" type="xs:decimal" use="required" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>
				
			  <xs:element name="qcontroller">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="parameters" minOccurs="0" />
				  </xs:sequence>
				  <xs:attribute name="type" use="required">
					<xs:simpleType>
					  <xs:restriction base="xs:string">
						<xs:pattern value="none|queue_override|proportional|proportional_integral"/>
					  </xs:restriction>
					</xs:simpleType>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
				  
			  <xs:element name="table">
				<xs:complexType mixed="true">
				  <!-- <xs:attribute name="delims" type="xs:string" use="optional" default=",:" /> -->
				  <!-- <xs:attribute name="cellType" type="xs:string" use="optional" default="xs:string" /> -->
				</xs:complexType>
			  </xs:element>

  <!-- Pretimed signal ........................................................... -->
			  
			  <xs:element name="PlanSequence">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="plan_reference" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				  <xs:attribute name="transition_delay" type="xs:decimal" use="required" />		<!-- in seconds -->
				</xs:complexType>
			  </xs:element>

				  <xs:element name="plan_reference">
					<xs:complexType>
					  <xs:attribute name="plan_id" type="xs:string" use="required" />
					  <xs:attribute name="start_time" type="xs:decimal" use="required" />		<!-- in seconds -->
					</xs:complexType>
				  </xs:element>

			  <xs:element name="PlanList">
				<xs:complexType>
				  <xs:sequence>
					<xs:element ref="plan" minOccurs="0" maxOccurs="unbounded" />
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>

				  <xs:element name="plan">
					<xs:complexType>
					  <xs:sequence>
						<xs:element ref="intersection" minOccurs="0" maxOccurs="unbounded" />
					  </xs:sequence>
					  <xs:attribute name="id" type="xs:string" use="required" />
					  <xs:attribute name="cyclelength" type="xs:decimal" use="required" />		<!-- in seconds -->
					</xs:complexType>
				  </xs:element>
					  
					  <xs:element name="intersection">
						<xs:complexType>
						  <xs:sequence>
							<xs:element ref="stage" minOccurs="0" maxOccurs="unbounded" />
						  </xs:sequence>
						  <xs:attribute name="network_id" type="xs:string" use="optional" />
						  <xs:attribute name="node_id" type="xs:string" use="required" />
						  <xs:attribute name="offset" type="xs:decimal" use="required" />		<!-- in seconds -->
						</xs:complexType>
					  </xs:element>

						  <xs:element name="stage">
							<xs:complexType>
							  <xs:attribute name="greentime" type="xs:decimal" use="required" />		<!-- in seconds -->
							  <xs:attribute name="movA" use="required">
								<xs:simpleType>
								  <xs:restriction base="xs:string">
									<xs:pattern value="|1|2|3|4|5|6|7|8"/>
								  </xs:restriction>
								</xs:simpleType>
							  </xs:attribute>
							  <xs:attribute name="movB" use="required">
								<xs:simpleType>
								  <xs:restriction base="xs:string">
									<xs:pattern value="|1|2|3|4|5|6|7|8"/>
								  </xs:restriction>
								</xs:simpleType>
							  </xs:attribute>
							</xs:complexType>
						  </xs:element>
						  
  <!-- FundamentalDiagramProfileSet .............................................. -->

	  <xs:element name="FundamentalDiagramProfileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="fundamentalDiagramProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="fundamentalDiagramProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="fundamentalDiagram" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="network_id" type="xs:string" use="optional" />
			  <xs:attribute name="link_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>

			  <xs:element name="fundamentalDiagram">
				<xs:complexType>
				  <!-- <xs:attribute name="densityCritical" type="xs:decimal" use="optional" />					[veh/mile/lane] -->
				  <xs:attribute name="freeflow_speed" type="xs:decimal" use="optional" />					<!-- [mile/hr] -->
				  <xs:attribute name="congestion_speed" type="xs:decimal" use="optional" />					<!-- [mile/hr] -->
				  <xs:attribute name="capacity" type="xs:decimal" use="optional" />							<!-- [veh/hr/lane]   -->
				  <xs:attribute name="densityJam" type="xs:decimal" use="optional" />						<!-- [veh/mile/lane] -->
				  <xs:attribute name="capacityDrop" type="xs:decimal" use="optional" default="0.0"/>		<!-- [veh/hr/lane]   -->
				  <xs:attribute name="std_dev_capacity" type="xs:decimal" use="optional"/>					<!-- [veh/hr/lane]   -->
				</xs:complexType>
			  </xs:element>  

  <!-- NetworkConnections ........................................................ -->

	  <xs:element name="NetworkConnections">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="networkpair" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="id" type="xs:string" use="optional" default="" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>  

		  <xs:element name="networkpair">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="linkpair" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="network_a" type="xs:string" use="required" />
			  <xs:attribute name="network_b" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="linkpair">
				<xs:complexType>
				  <xs:attribute name="link_a" type="xs:string" use="required" />
				  <xs:attribute name="link_b" type="xs:string" use="required" />
				</xs:complexType>
			  </xs:element>  
	
  <!-- ODList .................................................................... -->

	  <xs:element name="ODList">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="od" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>

		  <xs:element name="od">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="path_segments" minOccurs="0" maxOccurs="1" />
				<xs:element ref="decision_points" minOccurs="0" maxOccurs="1" />
			  </xs:sequence>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="network_id_origin" type="xs:string" use="optional" />
			  <xs:attribute name="link_id_origin" type="xs:string" use="required" />
			  <xs:attribute name="network_id_destination" type="xs:string" use="optional" />
			  <xs:attribute name="link_id_destination" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>

			  <xs:element name="path_segments">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			  </xs:element>
			  
			  <xs:element name="decision_points">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			  </xs:element>
			  
  <!-- PathSegements ............................................................. -->

	  <xs:element name="PathSegements">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="path_segment" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="path_segment">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="links" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="id" type="xs:string" use="required" />
			</xs:complexType>
		  </xs:element>
		   
  <!-- DecisionPoints ............................................................ -->

	  <xs:element name="DecisionPoints">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="decision_point" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="decision_point">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="VehicleTypeOrder" minOccurs="0" maxOccurs="1" />
				<xs:element ref="decision_point_split" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="id" type="xs:string" use="required" />
			  <xs:attribute name="network_id" type="xs:string" use="optional" />
			  <xs:attribute name="node_id" type="xs:string" use="required" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="decision_point_split">
				<xs:complexType>
				  <xs:attribute name="path_segment_in" type="xs:string" use="required" />
				  <xs:attribute name="path_segment_out" type="xs:string" use="required" />			<!-- in seconds -->
				</xs:complexType>
			  </xs:element>
		  
  <!-- ODDemandPofileSet ......................................................... -->

	  <xs:element name="ODDemandPofileSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="od_demandProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
  
		  <xs:element name="od_demandProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="VehicleTypeOrder" minOccurs="0" maxOccurs="1" />
				<xs:element ref="decision_point_split" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="od_id" type="xs:string" use="required" />
			  <xs:attribute name="vehicletype" type="xs:string" use="optional" />
			  <xs:attribute name="start_time" type="xs:decimal" use="optional" default="0" />		<!-- in seconds -->
			  <xs:attribute name="dt" type="xs:decimal" use="optional" />							<!-- in seconds -->
			  <xs:attribute name="knob" type="xs:decimal" use="optional" />
			</xs:complexType>
		  </xs:element>

</xs:schema>
